@use 'global'as *;


.c-btn {
  display: inline-block;
  padding: rem(13) rem(54)rem(15);
  background-color: #0d2d6a;
  color: $white;
  border: 1px solid #0d2d6a;
  border-radius: rem(20);
  transition: all 0.3s ease 0s;
  font-size: rem(13);
  font-weight: $regular;
  line-height: 1;
  width: 100%;
}

.c-btn:hover {
  background-color: #0d2d6a;
  color: #fff;
}